<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-4 pb-2">
        <h1>Welcome to the Home Page</h1>
        <%= link_to 'Blog', articles_path %> | <%= link_to 'About', about_path%>
      </div>
      <div class="col-12" style="background-image: url('http://jonvilma.com/images/new-york-skyline-2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;height:400px;">
      </div>
      <div class="col-12 col-md-10 offset-md-1 mt-5 text-center">
        <h4 class="font-weight-bold">What We do</h4>
        <p>Hey, hey, hey! It's Fat Albert! Now I'm gonna sing a song for you, and this is gonna show you a thing or two. You'll have some fun now With me and the gang, learning from each other While we do our thing. </p>
        <%= link_to 'More About Us', about_path , class: "btn btn-link" %>
        <hr>
      </div>
      <div class="col-12 col-md-6 mt-5 text-center">
        <h4 class="font-weight-bold">Mission</h4>
        <p>Hey, hey, hey! It's Fat Albert! Now I'm gonna sing a song for you, and this is gonna show you a thing or two. You'll have some fun now With me and the gang, learning from each other While we do our thing. </p>
      </div>
      <div class="col-12 col-md-6 mt-5 text-center">
        <h4 class="font-weight-bold">Vision</h4>
        <p>Hey, hey, hey! It's Fat Albert! Now I'm gonna sing a song for you, and this is gonna show you a thing or two. You'll have some fun now With me and the gang, learning from each other While we do our thing. </p>
      </div>
    </div>
  </div>
</section>